﻿<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <h4>Articles on water poverty</h4>
                <p>
                    <span class="glyphicon glyphicon-link"></span>&nbsp;
                    <a href="http://news.bbc.co.uk/hi/english/static/in_depth/world/2000/world_water_crisis/default.stm" target="_blank">World water crisis (BBC)</a>
                </p>
                <p>
                    <span class="glyphicon glyphicon-link"></span>&nbsp;
                    <a href="http://environment.nationalgeographic.com/environment/freshwater/freshwater-crisis" target="_blank">Fresh water crisis (National Geographic)</a>
                </p>
                <p>
                    <span class="glyphicon glyphicon-link"></span>&nbsp;
                    <a href="http://www.africaheartwoodproject.org/water/?gclid=CjwKEAjw-r27BRCzsNyzrMrM-j0SJACp2TiBHqOSVYY8M1jMdLyglFK-ql2ao6wfggcMHWGO--n6ThoCXcTw_wcB" target="_blank">Village Clean Water Projects - West Africa (AHP)</a>
                </p>
                <p>
                    <span class="glyphicon glyphicon-link"></span>&nbsp;
                    <a href="http://www.impactnations.org/what-we-do/i-thirst-water-program" target="_blank">I Thirst Water Program (Impactnations)</a>
                </p>
            </div>
            
        </div>
    </div>
</div>