﻿html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif; /*'Source Sans Pro', sans-serif;*/
    color: #37474F;
    font-weight: 400;
    font-size: 14px;
    background: #ddd;
}

.brand {
    font-size: 100px;
}

.brand img {
    width: 100px;
    margin-bottom: 20px;
}

#main,
.ng-scope {
    height: 100%;
}

#main {
    padding-top: 50px;
}

h3 {
    font-weight: 400;
}

h4 {
    font-weight: 500;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.card {
    background: #fff;
    padding: 20px;
    margin-top: 15px;
}

.card.dark {
    background: #37474F;
    color: #fff;
}

.card:last-child {
    margin-bottom: 15px;
}

.saving span {
    font-size: 30px;
    color: #4CAF50;
}

.saving.loss span {
    color: #e57373;
}

div.m-app-loading {
    position: fixed;
    z-index: 9999;
}

div.m-app-loading div.animated-container {
    background: linear-gradient(154deg, #008fe2 0, #00b29c 100%);
    bottom: 0px;
    left: 0px;
    opacity: 1.0;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 999999;
}

div.m-app-loading div.animated-container.ng-leave {
    opacity: 1.0;
    transition: all linear 200ms;
    -webkit-transition: all linear 200ms;
}

div.m-app-loading div.animated-container.ng-leave-active {
    opacity: 0;
}

div.m-app-loading div.messaging {
    color: #FFFFFF;
    left: 0px;
    margin-top: -120px;
    position: absolute;
    right: 0px;
    top: 50%;
    text-align: center;
}

div.m-app-loading h1 {
    font-weight: 300;
    font-size: 3rem;
    margin: 0px 0px 20px 0px;
}

div.m-app-loading p {
    font-size: 1.2rem;
    margin: 0px 0px 0px 0px;
}

.bottle :before, .bottle :after {
  content: '';
  display: block;
  position: absolute;
}

.bottle {
  display: inline-block;
  position: relative;
  width: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.bottle:after {
  height: 14px;
  width: 100px;
  border-radius: 46px/10px;
  box-shadow: 0px 1px 4px -2px rgba(0, 0, 0, 0.2), 0px 2px 10px -3px rgba(0, 0, 0, 0.1);
  bottom: -7.6px;
  z-index: 0;
}

.bottle:before {
  height: 14px;
  width: 100px;
  border-radius: 46px/10px;
  box-shadow: 0px 2px 10px -2px rgba(0, 204, 255, 0.3), 0px 2px 15px -2px rgba(0, 204, 255, 0.4);
  bottom: -7.6px;
  z-index: 0;
}

.bottle_main {
  height: 150px;
  position: relative;
  width: 98px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-top: none;
  border-bottom: none;
}

.bottle_main:after, .bottle_main:before {
  height: 12px;
  width: 96px;
  border-radius: 46px/10px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  left: -1px;
}

.bottle_main:after {
  top: -7px;
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.6) inset, 0px 3px 3px -1px rgba(255, 255, 255, 0.4), 0px 0px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 6px rgba(255, 255, 255, 0.7) inset, 0px 0px 3px rgba(0, 0, 0, 0.15) inset;
}

.bottle_main:before {
  top: 143px;
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7) inset, 0px 0px 3px rgba(0, 0, 0, 0.15) inset;
}

.bottle_inner {
  height: 149px;
  width: 92%;
  margin: 0px auto;
  border-radius: 10px 10px 20px 20px/10px;
  border: 1px solid rgba(0, 0, 0, 0.01);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom-width: 0.5px;
  position: relative;
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5) inset, 0px 0px 8px rgba(255, 255, 255, 0.6) inset, 0px 0px 5px rgba(255, 255, 255, 0.5);
  position: relative;
  top: 1px;
}

.bottle_inner:before {
  border-radius: 40px/4px;
  top: 140px;
  width: 90%;
  left: 3px;
  height: 9px;
}

.bottle_main .highlight {
  display: block;
  height: 150px;
  width: 25px;
  position: absolute;
  left: 10px;
  top: 6px;
  transform: skew(0deg, 6deg);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 80%);
  z-index: 2;
}

.bottle_main .highlight:after {
  height: 150px;
  width: 4px;
  left: -6px;
  top: 0px;
  transform: skew(0deg, 3deg);
  background: linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 80%);
}

.bottle_main .halfway {
    display: block;
    height: 2px;
    width: 10px;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: skew(0deg, -6deg);
    background: #666;
    z-index: 20;
}

.bottle_main .max {
    position: absolute;
    left: 130px;
    top: 0;
}

.bottle_main .max:before {
    background: #666;
    width: 20px;
    height: 1px;
    left: -30px;
    top: 50%;
}

.water {
  background: linear-gradient(-85deg, rgba(0, 204, 255, 0.35), rgba(0, 173, 216, 0.55) 70%, rgba(0, 173, 216, 0.4));
  width: 98%;
  height: 80px;
  position: absolute;
  left: 1px;
  bottom: 1px;
  border-radius: 50px 50px 20px 20px/8px 8px 10px 10px;
  box-shadow: 0px 0px 6px rgba(0, 204, 255, 0.5) inset, 0px 0.2px 3px -1px rgba(0, 0, 0, 0.3) inset, 0px 2px 6px -1px rgba(0, 0, 0, 0.1) inset, 0px 2px 5px rgba(0, 204, 255, 0.3), 0px 1px 3px rgba(0, 204, 255, 0.2);
}

.water:after {
  height: 10px;
  width: 88px;
  left: -1px;
  top: 0px;
  background: linear-gradient(left, rgba(255, 255, 255, 0.4), rgba(0, 204, 255, 0.05) 50%, rgba(0, 204, 255, 0.1) 80%, rgba(255, 255, 255, 0.3));
  border-radius: 50px/8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 1px 2px -1px rgba(0, 204, 255, 0.35);
}

.water:before {
  height: 10px;
  width: 82px;
  left: 2px;
  bottom: -1px;
  background: linear-gradient(left, rgba(0, 173, 216, 0.2), rgba(0, 204, 255, 0.1) 50%, rgba(0, 204, 255, 0.2) 80%, rgba(0, 173, 216, 0.3));
  border-radius: 50px/10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: none;
  box-shadow: 0px -2px 3px -1px rgba(0, 204, 255, 0.25);
}

.water {
  height: 100%;
}

/* boostrap custom */
.btn-info {
    background-color: #008fe2;
    border-color: #008fe2;
}

    .btn-info:active,
    .btn-info:hover,
    .btn-info:focus,
    .btn-info:active:hover {
        border-color: #007ac1;
        background-color: #007ac1;
    }

.table-hover tbody tr {
    cursor: pointer;
}

label {
    font-size: 14px;
    font-weight: 400;
}

.col-xs-6 > label {
    line-height: 34px;
    margin: 0;
}

.navbar {
    line-height: 36px;
    background: linear-gradient(154deg, #008fe2 0, #00b29c 100%);
}

.navbar-brand {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-left: 0px !important;
    padding: 10px 0;
    line-height: 30px;
}

.navbar-brand img {
    display: inline-block;
    margin-top: -4px;
    height: 22px;
    padding-right: 5px;
}

.nav > li > a:focus, 
.nav > li > a:hover {
    opacity: 0.8;
    background: none;
}

.navbar ul {
    position: absolute;
    right: 15px;
    top: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
} 

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    display: block;
    color: #fff;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    font-size: 16px;
    line-height: 20px;
}

.header {
    font-size: 24px;
    font-weight: 400;
    border-bottom: 1px solid #ECEFF1;
    padding-bottom: 24px;
    margin-bottom: 24px;
}

    .header small {
        display: block;
        font-size: 16px;
        color: #808080;
        font-weight: 300;
    }

/* form styling */
#setup-form-container {
    background: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    color: #546E7A;
}

    #setup-form-container .page-header {
        background: #ECEFF1;
        margin: 0;
        padding: 50px 30px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

        #setup-form-container .page-header h2 {
            margin: 0;
            margin-bottom: 20px;
            color: #90A4AE;
        }

#setup-form {
    position: relative;
    min-height: 300px;
    overflow: hidden;
    padding: 30px;
    
}

#form-views {
    width: auto;
}

    #form-views.ng-enter,
    #form-views.ng-leave {
        position: absolute;
        left: 30px;
        right: 30px;
        transition: 0.5s all ease;
        -moz-transition: 0.5s all ease;
        -webkit-transition: 0.5s all ease;
    }

    #form-views.ng-enter {
        -webkit-animation: slideInRight 0.5s both ease;
        -moz-animation: slideInRight 0.5s both ease;
        animation: slideInRight 0.5s both ease;
    }

    #form-views.ng-leave {
        -webkit-animation: slideOutLeft 0.5s both ease;
        -moz-animation: slideOutLeft 0.5s both ease;
        animation: slideOutLeft 0.5s both ease;
    }

@keyframes slideOutLeft {
    to {
        transform: translateX(-200%);
    }
}

@-moz-keyframes slideOutLeft {
    to {
        -moz-transform: translateX(-200%);
    }
}

@-webkit-keyframes slideOutLeft {
    to {
        -webkit-transform: translateX(-200%);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(200%);
    }

    to {
        transform: translateX(0);
    }
}

@-moz-keyframes slideInRight {
    from {
        -moz-transform: translateX(200%);
    }

    to {
        -moz-transform: translateX(0);
    }
}

@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translateX(200%);
    }

    to {
        -webkit-transform: translateX(0);
    }
}

#status-buttons a {
    color: #B0BEC5;
    display: inline-block;
    font-size: 13px;
    margin: 0 10px;
    text-align: center;
    text-decoration: none;
    min-width: 70px;
}

    #status-buttons a:hover {
        text-decoration: none;
    }

#status-buttons span {
    background: #CFD8DC;
    display: block;
    height: 40px;
    line-height: 40px;
    width: 40px;
    margin: 0 auto 10px;
    border-radius: 50%;
    font-size: 16px;
    color: #FFF;
}

#status-buttons a.active {
    color: #90A4AE;
}

#status-buttons a.active span {
    background: #008fe2;
}

#select-work-container {
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #B0BEC5;
}