﻿
<div class="container-center">
    <div class="row-center">
        <div class="col-xs-12 text-center centering">
            <div ng-if="saving >= 0" class="saving">
                <h3>Estimated saving this month</h3>
                <span>£{{savingDisplay}}</span>
            </div>

            <div ng-if="saving < 0" class="saving loss">
                <h3>Estimated extra spending this month</h3>
                <span>£{{savingDisplay}}</span>
            </div>

            <div class="bottle">
                <div class="bottle_main">
                    <div class="max">{{monthlyUsage}}m&sup3;</div>
                    <div class="bottle_inner">
                        <div class="water"></div>
                    </div>
                    <div class="halfway"></div>
                    <div class="highlight"></div>
                </div>
            </div>

            <div>{{tracking}}</div>
            
        </div>
    </div>
</div>

<style>
.container-center {
    height: 100%;
    display: table;
    width: 100%;
    padding: 0;
}
 
.row-center {
    height: 100%;
    display:table-cell; 
    vertical-align: middle;
}

.centering {
    float: none;
    margin: 0 auto;
}
</style>