﻿<div class="container">
    <div class="row">
        <div class="col-xs-12">
           

            <form id="myForm" ng-submit="updateSettings()">
                
                <div class="card">
                    <h4>Tell us a little about yourself</h4>

                    <div class="form-group">
                        <label for="">Number of people in the household</label>
                        <input type="number" class="form-control" name="sizeOfHousehold"
                               ng-model="formData.sizeOfHousehold"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="">What is your average monthly water bill?</label>
                        <div class="input-group">
                            <div class="input-group-addon">£</div>
                            <input type="number" class="form-control" name="averageWaterBill"
                                   ng-model="formData.averageWaterBill"
                                   required>
                            <div class="input-group-addon">.00</div>
                        </div>
                    </div>
                </div>
                
                <div class="card">
                    <h4>How many times a week does your household use/do the following</h4>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <label>Bath</label>
                            </div>
                            <div class="col-xs-6">
                                <input type="number" class="form-control" name="applianceUseFrequency"
                                       ng-model="formData.bathUseFrequency"
                                       required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <label>Shower</label>
                            </div>
                            <div class="col-xs-6">
                                <input type="number" class="form-control" name="applianceUseFrequency"
                                       ng-model="formData.showerUseFrequency"
                                       required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <label>Brush teeth</label>
                            </div>
                            <div class="col-xs-6">
                                <input type="number" class="form-control" name="applianceUseFrequency"
                                       ng-model="formData.toothbrushUseFrequency"
                                       required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <label>Dishwasher</label>
                            </div>
                            <div class="col-xs-6">
                                <input type="number" class="form-control" name="applianceUseFrequency"
                                       ng-model="formData.dishwasherUseFrequency"
                                       required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <label>Hand wash dishes</label>
                            </div>
                            <div class="col-xs-6">
                                <input type="number" class="form-control" name="applianceUseFrequency"
                                       ng-model="formData.handdishwashUseFrequency"
                                       required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <label>Washing machine</label>
                            </div>
                            <div class="col-xs-6">
                                <input type="number" class="form-control" name="applianceUseFrequency"
                                       ng-model="formData.washingmachineUseFrequency"
                                       required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <label>Toilet flush</label>
                            </div>
                            <div class="col-xs-6">
                                <input type="number" class="form-control" name="applianceUseFrequency"
                                       ng-model="formData.toiletUseFrequency"
                                       required>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card">
                    <button type="submit" class="btn btn-info">Save</button>
                    <button type="reset" class="btn btn-default">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>
