﻿<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <h4>Bath</h4>
                <p>A "full tub" varies, of course, but 36 gallons is good average amount.</p>
                <p>Tip: Taking a shower instead of a bath should save a good bit of water.</p>
            </div>
            <div class="card">
                <h4>Shower</h4>
                <p>Old showers used to use up to 5 gallons of water per minute. Water-saving shower heads produce about 2 gallons per minute.</p>
                <p>Tip: Taking a shorter shower using a low-flow showerhead saves lots of water.</p>
            </div>
            <div class="card">
                <h4>Teeth brushing</h4>
                <p>Newer bath faucets use about 1 gallon per minute, whereas older models use over 2 gallons.</p>
                <p>Tip: Simply turn the faucet off when brushing teeth.</p>
            </div>
            <div class="card">
                <h4>Face/leg shaving</h4>
                <p></p>
                <p>Tip: Simply turn the faucet off when shaving.</p>
            </div>
            <div class="card">
                <h4>Dishwasher</h4>
                <p>Newer, EnergyStar models use 6 gallons or less per wash cycle, whereas older dishwashers might use up to 16 gallons per cycle.</p>
                <p>Tip: EnergyStar dishwashers not only save a lot of water but also save electricity.</p>
            </div>
            <div class="card">
                <h4>Dish washing by hand</h4>
                <p>About 8-27 gallons. This all depends on how efficient you are at hand-washing dishes. Newer kitchen faucets use about 1.5-2 gallons per minutes, whereas older faucets use more.</p>
                <p>Tip: Efficient hand-washing techniques include installing an aerator in your faucet head and scraping food off, soaking dishes in a basin of soapy water before getting started, and not letting the water run while you wash every dish. And it's best to have two basins to work in--one with hot, soapy water and the other with warm water for a rinse.</p>
            </div>
            <div class="card">
                <h4>Clothes washer</h4>
                <p>25 gallons/load for newer washers. Older models might use about 40 gallons per load. </p>
                <p>Tip: Energy Star clothes washers not only save a lot of water but also save electricity.</p>
            </div>
            <div class="card">
                <h4>Toilet flush</h4>
                <p>3 gallons. Most all new toilets use 1.6 gallons per flush, but many older toilets used about 4 gallons. </p>
                <p>Tip: Check for toilet leaks! Adjust the water level in your tank. But, best to install a new low-flow toilet.</p>
            </div>
            <div class="card">
                <h4>Glasses of water you drank</h4>
                <p>8 oz. per small glass (not counting water for Fido or your cats). Also, note that you will be using water for cooking.</p>
            </div>
            <div class="card">
                <h4>Outdoor watering</h4>
                <p>2 gallons per minute, depending on the force of your outdoor faucet. This may not sound like too much but the large size of lawns and yards means outdoor water use can be a significant use of water.</p>
            </div>
        </div>
    </div>
</div>